/* Color Theme Swatches in Hex */
.pot-1-hex { color: #8EA8BF; }/*Light blue*/
.pot-2-hex { color: #2F5973; }/*Dark blue*/
.pot-3-hex { color: #D9CBBF; }/*Tan*/
.pot-4-hex { color: #593825; }/*Brown*/
.pot-5-hex { color: #A67C63; }/*light brown*/

/* Color Theme Swatches in RGBA */
.potw1944a-1800-1-rgba { color: rgba(142, 168, 191, 1); }
.potw1944a-1800-2-rgba { color: rgba(47, 89, 115, 1); }
.potw1944a-1800-3-rgba { color: rgba(217, 203, 191, 1); }
.potw1944a-1800-4-rgba { color: rgba(89, 56, 37, 1); }
.potw1944a-1800-5-rgba { color: rgba(166, 124, 99, 1); }

/* Color Theme Swatches in HSLA */
.potw1944a-1800-1-hsla { color: hsla(208, 27, 65, 1); }
.potw1944a-1800-2-hsla { color: hsla(202, 41, 31, 1); }
.potw1944a-1800-3-hsla { color: hsla(27, 25, 80, 1); }
.potw1944a-1800-4-hsla { color: hsla(21, 41, 24, 1); }
.potw1944a-1800-5-hsla { color: hsla(22, 27, 51, 1); }
@font-face {
  font-family: "nasalization-rg";
  src: url(fonts/nasalization-rg.ttf) format('truetype');
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family:"IBM Plex Sans",Helvetica;
  font-size:100%;
}
body{
  background-image:linear-gradient(to left, rgba(255,255,255,.5),rgba(255,255,255,0), rgba(255,255,255,.5)),linear-gradient(to bottom, rgba(255,255,255,.5),rgba(255,255,255,.0), rgba(255,255,255,.5)),url("./images/0013.jpg");
  background-size:auto;
  background-color:rgba(0,0,0,1);
  width:100%;
  height:100%;
}
html{
  height:100%;
}
::-webkit-scrollbar{
  /*background:transparent;*/
}
::-webkit-scrollbar-track{

}
::-webkit-scrollbar-thumb{

}
::-webkit-scrollbar-button{
  
}
::-webkit-scrollbar-corner{
 background:gray; 
}
.body-sinnav{
  max-width:2048px;
  min-width:300px;
  width:100%;
  margin:auto;
}
.homepage-body-grid{
  display:grid;
  width:minmax(300px,75%);
  height:100vh;
  grid-template-rows: 1% 99%;
  grid-template-columns: 100%;
  align-items:center;
  align-content:center;
  justify-content:center;
  justify-items:center;

}
.homepage-body{
  /*position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;*/
  grid-area: 2 / 1/ span 1/ span 1;
}
h1{
  text-align:center;
  text-size:150%;
}
h2{
  text-align:left;
  margin:auto;
}
article{
  font-size:100%;
  text-align:center;
  border-radius:15px;
}
p{
  font-size:100%;
}

.uppercase{
  text-transform:uppercase;
}
nav{
  width:100%;
  margin:auto;
  text-align:center; 
  background-color:rgba(128,128,128,1);
  position:fixed;
  top:0;
  color:black;
  z-index:10;
}
nav.home-page{
  color:white;
  background-color:rgba(0,0,0,1);
  position:relative;
  margin:auto;
  /*margin:10% auto 10% auto;*/
  width:100%;
}
.navlink{
  font-size:120%;
  color:black;
  display:inline-block;
  margin:auto;
  width:24%;
  /*height:40;*/
  text-align:center;
}
.navlink:hover{
  background-color:rgba(0, 0, 0, .2);
}
.center{
  text-align:center;
}
.bold{
  font-weight:bold;
}
.name{
  font-family:"nasalization-rg","IBM Plex Sans",Helvetica;
  font-size:300%;
  color:black;
}
.summary{
  color:black;
  width:75%;
  margin:auto;
  font-size:120%;
}
.left{
  text-align:left;
}
.justify{
  text-align:justify;
}
.right{
  text-align:right;
}
.hreflink{
  text-decoration:none;
}
.hreflink:visited { text-decoration: none; }
.hreflink:hover { text-decoration: none;}
.hreflink:focus { text-decoration: none;}
.hreflink:hover, .hreflink:active { text-decoration: none;}
.contactlinks{
  display:inline-block;
  width:auto;
  border-radius:10px;
  border:2px solid ;
  text-align:center;
  padding:2px;
  font-size:80%;
  grid-area: 1 / 3/ span 1/ span 1;
  justify-self:right;
}
.contactemail{
  display:inline-block;
  width:auto;
  height:auto;
  margin-left:0;
  margin-right:auto;
  font-size:80%;
  color:black;
  grid-area: 1 / 1/ span 1/ span 1;
}
.copyright{
  display:inline-block;
  color:black;
  width:auto;
  margin:auto;
  font-size:60%;
  grid-area: 1 / 2/ span 1/ span 1;
}
footer{
  display:grid;
  background-color:rgba(255,255,255,0.8);
  color:gray;
  position:fixed;
  bottom:0;
  width:100%;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap:1%;
  align-items:center;
  align-content:space-between;
  justify-content:center;
  justify-items:center;
}
.waveformimage{
  display:block; 
  text-align:center;
  margin:auto;
  width:90%;
}
.main{
  display:grid;
  /*min-width:300px;
  max-width:2048px;*/
  width:100%;
  height:300vh;
  /*margin: 5% auto auto auto;*/
  /*grid-template-rows: repeat(3,minmax(100vh,auto)) ;*/
  grid-template-rows: repeat(3,100vh) ;
  grid-template-columns: 1fr 75% 1fr;
  align-items:center;
  align-content:center;
  justify-content:center;
  justify-items:center;
  grid-row-gap:2%;
}
.wrapper{
  margin:auto;
  padding: 10% auto 10% auto;
  height:80%;
  overflow:scroll;
  grid-area: 1 / 2/ span 1/ span 1;
  /*align-self:start;*/
}
.research-nav{
  display:block;
  text-align:center;
  width:100%;
  overflow:hidden;
  margin:auto auto 2% auto;

}
.research-nav-link{
  
  font-size:120%;
  color : #254159;
  display:inline-block;
  text-align:center;
  text-decoration:none;

}
.research-nav-link:hover{
  background-color:rgba(0, 0, 0, .2);
}
.page-title{
  padding:10% auto auto auto;
  margin:2% auto auto auto;
  font-size:200%;
  color:black;
}
.research-intro{
  margin:auto auto auto auto;
}
.link{
}
.link:hover{
}
.clickable-link{
  /*color : #254159;*/
  text-decoration:underline; 
  color:black;
}
.clickable-link:hover{
  color:gray;
}
.waveformimage-full{
  display:block; 
  text-align:center;
  margin:auto;
  width:100%;
}
.waveformimage-full .waveformimage:hover{
  background-color:rgba(0, 0, 0, .2);
}
.recent-research{
  overflow:scroll;
  margin:auto;
  /*overflow:hidden;*/
  height:100%;
  background-color:rgba(128, 128, 128, .2);
  width:133%;
  margin-left:-17%;
  grid-area: 2/ 2/ span 1 /span 1;
}
.recent-research-content{
  width:75%;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  justify-items:center;
  align-content:center;
  align-items:center;
  /*display:grid;
  grid-column-gap:5%;
  grid-row-gap:2%;
  grid-template-columns: repeat(auto-fit,minmax(400px,40%));
  grid-auto-columns:minmax(400px,40%); 
  grid-auto-rows:auto; 
  grid-auto-flow:column dense;
  align-items:center;
  align-content:center;
  justify-content:center;*/
}
.mid-page-title{
  text-align:center;
  font-size:150%;
  margin:2% auto 2% auto;

}
.research-bubbles{
  display:block;
  position:relative;
  margin:1%;
  /*min-width:240px;*/
  /*max-width:100%;*/
  min-width:640px;
  width: 45%;
  padding:auto;
  background-color:rgba(128,128,128,.8);
}
.research-bubbles:hover .research-image{
  opacity:0.5;
}
.research-bubbles:hover .research-blurb{
  opacity:1.0;
  background-color:rgba(255,255,255,0.8);
}
.research-bubbles.fleft{
  float:left;
  margin:1% auto 1% 2% ;
}
.research-bubbles.fright{
  float:right;
  margin:1% 2% 1% auto;
}
.fleft{
  float:left;
}
.research-nav-link.fleft{
  margin:0% auto 0 15%;
}
.fright{
  float:right;
}
.research-nav-link.fright{
  margin:0% 15% 0 auto;
}
.research-image{
  opacity:1.0;
  width:100%;
  height:auto;
  margin:auto;
}
.research-blurb{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin:auto; 
  text-align:center;
  opacity:0;
  width:75%;
  height:75%;
  overflow:scroll;
  padding:1% 1% 1% 1%;
  border-radius:10px;
  
}
.pub-list{
  overflow:scroll;
  text-align:center;
  list-style-position:inside;
  /*width:75%;*/
  grid-area: 3 / 2/ span 1/ span 1;
  align-self:start;
}
.about-me-body{
  overflow:scroll;
  display:grid;
  width:75%;
  height:80%;
  margin:5% auto auto auto ;
  /*height:100vh;*/
  grid-template-rows: auto repeat(5,auto);
  grid-template-columns:repeat(3,1fr);
  justify-content:center;
  justify-items:center;
  align-content:center;
  align-items:center;
  grid-row-gap:2%;
  grid-column-gap:2%;
}
.about-me-title{
  grid-area : 1/ 1/ span 1/ span 3;
  font-size:200%;
  margin:auto;
  color:black;
}
.about-me{
  font-size:100%;
  width:100%;
  grid-area: 2/ 2 / span 3 / span 2;
  align-self:start;
  
}
.image-about-me{
  width:100%;
  grid-area: 2/ 1 / span 1 / span 1;

}
.about-me-contact{
  display:block;
  width:100%;
  text-align:center;
  /*margin:2% 2% 3% 2%;*/
  grid-area: 5/ 1 / span 1 / span 3;
}
.about-me-contact-table{
  width:auto;
  text-align:center;
  margin:auto;
  font-size:100%;
  border-style:solid;
  border-width:5px;
  border-color:rgba(155,155,155,1);
}
tr:nth-child(even){
  background-color:rgba(155,155,155,0.4); 
}
th{
  background-color:rgba(155,155,155,0.4); 
}
